body {
    background-color: rgba(56, 127, 207, 0.849);
    margin-top: -5px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

hr {
    border: none;
    width: 3%;
    border-top: 5px dotted black;
}
