body{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.top-container{
    background-color: #27536B;
}

.moon-img{
    block-size: 130px;
    padding-right: 600px;
}

.mountain-img{
    block-size: 290px;
    padding-left: 570px;
    margin-top: -70px;
    margin-bottom: -7px;
}

.middle-container{
    padding-top: 30px;
    background-color: #8faed6;
}   

.bottom-container{
    background-color: #E1F1FF;
}

